<script id="searchResultTemplate" type="text/x-handlebars-template">
    {{#each .}}
        <div class="row row-shadow margin-top-10">
            <div class="col-md-4  text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <address>
                            {{#with address}}
                                <h4>{{street}}</h4>
                                <h4>{{city}}, {{state}} {{zipCode}}</h4>
                            {{/with}}
                        </address>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <small>{{address.latitude}}, {{address.longitude}}</small>
                        </div>
                        {{#with links}}
                            <div class="row">
                                <a rel="noopener" target="_blank" href="{{comparablesLinks}}">Comparable Properties</a>
                            </div>
                            <div class="row">
                                <a rel="noopener" target="_blank" href="{{graphsAndDataLink}}">Graphs And Data</a>
                            </div>
                            <div class="row">
                                <a rel="noopener" target="_blank" href="{{homeDetailsLink}}">Home Details</a>
                            </div>
                            <div class="row">
                                <a rel="noopener" target="_blank" href="{{mapThisHomeLink}}">Map This</a>
                            </div>
                        {{/with}}
                    </div>
                </div>
            </div>
            <div class="col-md-4  text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">Zestimate</div>
                    <div class="panel-body">
                        {{#with zestimate}}
                            <div class="row">Amount: {{amountString}}</div>
                            <div class="row">Range: {{lowValuationString}} - {{highValuationString}}</div>
                            {{#if valueChangeDuration}}    
                                <div class="row">
                                    Change in {{valueChangeDuration}} days
                                    <span class="label label-{{#if valueDown}}danger{{else}}success{{/if}}">
                                        {{valueChangeString}}
                                    </span>
                                </div>
                            {{/if}}
                        {{/with}}
                    </div>
                </div>

                {{#if rentZestimate}}
                    <div class="panel panel-default">
                        <div class="panel-heading">Rent Zestimate</div>
                        <div class="panel-body text-center">
                            {{#with rentZestimate}}
                                <div class="row">Amount: {{amountString}}</div>
                                <div class="row">Range: {{lowValuationString}} - {{highValuationString}}</div>
                                {{#if valueChangeDuration}}    
                                    <div class="row">
                                        Change in {{valueChangeDuration}} days
                                        <span class="label label-{{#if valueDown}}danger{{else}}success{{/if}}">
                                            {{valueChangeString}}
                                        </span>
                                    </div>
                                {{/if}}
                            {{/with}}
                        </div>
                    </div>
                {{/if}}

            </div>
            <div class="col-md-4  text-center">
                {{#each localRegions}}
                    {{#with this}}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a rel="noopener" target="_blank" href="{{overViewLink}}">
                                    <small class="text-capitalize">{{type}}</small>: <strong>{{name}}</strong>
                                </a>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    ZIndex Value: {{#if zindexValue}}{{zindexValueString}}{{else}}None{{/if}}
                                </div>
                                <div class="row">
                                    <a rel="noopener" target="_blank" href="{{forSaleLink}}">For Sale</a>
                                </div>
                                <div class="row">
                                    <a rel="noopener" target="_blank" href="{{forSaleByOwnerLink}}">For Sale By Owners</a>
                                </div>
                            </div>
                        </div>
                    {{/with}}
                {{/each}}
            </div>
        </div>
    {{/each}}
</script>
